POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=euroleague
POSTGRES_USER=euroleague
POSTGRES_PASSWORD=euroleague

DATABASE_URL=postgresql+psycopg://euroleague:euroleague@localhost:5432/euroleague
EUROLEAGUE_SEASON=2025
EUROLEAGUE_COMPETITION=E
